SKOSWSSoapBinding.close.req.xml
SKOSWSSoapBinding.close.res.xml
SKOSWSSoapBinding.complexSearchByTermXML.req.xml
SKOSWSSoapBinding.complexSearchByTermXML.res.xml
SKOSWSSoapBinding.getAgrovocCSLanguages.req.xml
SKOSWSSoapBinding.getAgrovocCSLanguages.res.xml
SKOSWSSoapBinding.getAgrovocCSLanguagesExpand.req.xml
SKOSWSSoapBinding.getAgrovocCSLanguagesExpand.res.xml
SKOSWSSoapBinding.getAgrovocCSModules.req.xml
SKOSWSSoapBinding.getAgrovocCSModules.res.xml
SKOSWSSoapBinding.getAllLabelsByTermcode2.req.xml
SKOSWSSoapBinding.getAllLabelsByTermcode2.res.xml
SKOSWSSoapBinding.getAllTermInSubClass.req.xml
SKOSWSSoapBinding.getAllTermInSubClass.res.xml
SKOSWSSoapBinding.getAuthoritySegment.req.xml
SKOSWSSoapBinding.getAuthoritySegment.res.xml
SKOSWSSoapBinding.getAvailableCode.req.xml
SKOSWSSoapBinding.getAvailableCode.res.xml
SKOSWSSoapBinding.getCodesByURI.req.xml
SKOSWSSoapBinding.getCodesByURI.res.xml
SKOSWSSoapBinding.getConceptByKeyword.req.xml
SKOSWSSoapBinding.getConceptByKeyword.res.xml
SKOSWSSoapBinding.getConceptByKeyword2.req.xml
SKOSWSSoapBinding.getConceptByKeyword2.res.xml
SKOSWSSoapBinding.getConceptByRelationshipValue.req.xml
SKOSWSSoapBinding.getConceptByRelationshipValue.res.xml
SKOSWSSoapBinding.getConceptByURI.req.xml
SKOSWSSoapBinding.getConceptByURI.res.xml
SKOSWSSoapBinding.getConceptInfoByClassName.req.xml
SKOSWSSoapBinding.getConceptInfoByClassName.res.xml
SKOSWSSoapBinding.getConceptInfoByTermcode.req.xml
SKOSWSSoapBinding.getConceptInfoByTermcode.res.xml
SKOSWSSoapBinding.getConceptInfoByTermcodeXML.req.xml
SKOSWSSoapBinding.getConceptInfoByTermcodeXML.res.xml
SKOSWSSoapBinding.getConceptInfoByURI.req.xml
SKOSWSSoapBinding.getConceptInfoByURI.res.xml
SKOSWSSoapBinding.getConceptObject.req.xml
SKOSWSSoapBinding.getConceptObject.res.xml
SKOSWSSoapBinding.getConceptRelationshipList.req.xml
SKOSWSSoapBinding.getConceptRelationshipList.res.xml
SKOSWSSoapBinding.getDataTypeRelationship.req.xml
SKOSWSSoapBinding.getDataTypeRelationship.res.xml
SKOSWSSoapBinding.getDefinitions.req.xml
SKOSWSSoapBinding.getDefinitions.res.xml
SKOSWSSoapBinding.getDefinitionsByClassName.req.xml
SKOSWSSoapBinding.getDefinitionsByClassName.res.xml
SKOSWSSoapBinding.getDefinitionsByURI.req.xml
SKOSWSSoapBinding.getDefinitionsByURI.res.xml
SKOSWSSoapBinding.getFullAuthority.req.xml
SKOSWSSoapBinding.getFullAuthority.res.xml
SKOSWSSoapBinding.getLanguageCode.req.xml
SKOSWSSoapBinding.getLanguageCode.res.xml
SKOSWSSoapBinding.getLatestUpdates.req.xml
SKOSWSSoapBinding.getLatestUpdates.res.xml
SKOSWSSoapBinding.getListofURI.req.xml
SKOSWSSoapBinding.getListofURI.res.xml
SKOSWSSoapBinding.getObjectPropertyRelationship.req.xml
SKOSWSSoapBinding.getObjectPropertyRelationship.res.xml
SKOSWSSoapBinding.getPossibleRelationsFromConceptURI.req.xml
SKOSWSSoapBinding.getPossibleRelationsFromConceptURI.res.xml
SKOSWSSoapBinding.getRejectedConcepts.req.xml
SKOSWSSoapBinding.getRejectedConcepts.res.xml
SKOSWSSoapBinding.getRelatedValuesFromConceptURIRelationURI.req.xml
SKOSWSSoapBinding.getRelatedValuesFromConceptURIRelationURI.res.xml
SKOSWSSoapBinding.getReleaseDate.req.xml
SKOSWSSoapBinding.getReleaseDate.res.xml
SKOSWSSoapBinding.getStatusConcept.req.xml
SKOSWSSoapBinding.getStatusConcept.res.xml
SKOSWSSoapBinding.getStatusList.req.xml
SKOSWSSoapBinding.getStatusList.res.xml
SKOSWSSoapBinding.getStatusTerm.req.xml
SKOSWSSoapBinding.getStatusTerm.res.xml
SKOSWSSoapBinding.getTermByLanguage.req.xml
SKOSWSSoapBinding.getTermByLanguage.res.xml
SKOSWSSoapBinding.getTermCodeByTerm.req.xml
SKOSWSSoapBinding.getTermCodeByTerm.res.xml
SKOSWSSoapBinding.getTermCodeByTermAndLangXML.req.xml
SKOSWSSoapBinding.getTermCodeByTermAndLangXML.res.xml
SKOSWSSoapBinding.getTermCodeByTermXML.req.xml
SKOSWSSoapBinding.getTermCodeByTermXML.res.xml
SKOSWSSoapBinding.getTermExpansion.req.xml
SKOSWSSoapBinding.getTermExpansion.res.xml
SKOSWSSoapBinding.getTermsByClassName.req.xml
SKOSWSSoapBinding.getTermsByClassName.res.xml
SKOSWSSoapBinding.getTermsByCodesAndLanguage.req.xml
SKOSWSSoapBinding.getTermsByCodesAndLanguage.res.xml
SKOSWSSoapBinding.getTermsByURI.req.xml
SKOSWSSoapBinding.getTermsByURI.res.xml
SKOSWSSoapBinding.getURIByTermAndLangXML.req.xml
SKOSWSSoapBinding.getURIByTermAndLangXML.res.xml
SKOSWSSoapBinding.getWebServicesVersion.req.xml
SKOSWSSoapBinding.getWebServicesVersion.res.xml
SKOSWSSoapBinding.nsmap
SKOSWSSoapBinding.reloadOWLModel.req.xml
SKOSWSSoapBinding.reloadOWLModel.res.xml
SKOSWSSoapBinding.searchByModeLangScopeXML.req.xml
SKOSWSSoapBinding.searchByModeLangScopeXML.res.xml
SKOSWSSoapBinding.simpleSearchByMode2.req.xml
SKOSWSSoapBinding.simpleSearchByMode2.res.xml
SKOSWSSoapBinding.simpleSearchByModeLangXML.req.xml
SKOSWSSoapBinding.simpleSearchByModeLangXML.res.xml
SKOSWSSoapBinding.suggestTerm.req.xml
SKOSWSSoapBinding.suggestTerm.res.xml
agrovoc.h
soapC.cpp
soapH.h
soapSKOSWSSoapBindingProxy.cpp
soapSKOSWSSoapBindingProxy.h
soapStub.h
testconceptbytermcode
testgetdef
testgettermbylang
testsimplesearch
